<p>Welcome to the Arena!</p>

<%= link_to 'Marvel Characters Index', controller: 'characters' %>

<p><%= link_to 'Search Marvel Characters', characters_path  %></p>

<p><%= link_to 'New Marvel Character', new_character_path  %></p>